@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-height: 20rem;
  background-color: #ffffff8f;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}

.img-card {
  max-width: 15rem;
}

.span-card {
  font-family: Jomhuria;
  font-size: 4rem;
  color: #063b00;
  align-self: flex-start;
  white-space: nowrap;
}

.p-card {
  font-family: Jomhuria;
  font-size: 2.5rem;
  color: #736666;
  text-align: left;
  margin: 0;
  padding: 0;
}